body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Century Gothic";
}
header {
    height: 90vh;
    background-image: url('../images/a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 90%, 69% 100%, 0 85%, 0 0);
    background-attachment: fixed;
}
section {
    padding: 30px 50px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0px;
    overflow: auto;
    padding: 0px;
    background-color: #89d4f8;
    
}
h1{
    margin: 100px 0 40px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 400;
}
p {
    line-height: 2;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #131313;
  }
/* #videosList {
    max-width: 600px; 
    overflow: hidden;
} */
video {
    height: 330px;
    width: 600px;
    margin-bottom: 50px;
}
      /* Hide Play button + controls on iOS
video::-webkit-media-controls {
    display:none !important;
} */
  /* .whitebox{
      width: 80%;
      margin: 80px;
      position: center;
      background-color: #ffffff;
      height: auto;
  }
  .box1 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }
  .box2 {
      flex-basis: 50%;
      min-width: 250px;
  }
  .face {
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 80%;
    margin: 80px;
    /* position: center; */
    /* background-color: #ffffff;
    height: auto;
    flex-basis: 50%;
    min-width: 250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  } */